body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\sunku\Desktop\project\images\elders.jpeg');
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 60px;
}

.title h1 {
    margin: 0;
    font-size: 24px;
    color: #007bff;
    animation: fadeIn 2s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
    animation: slideIn 1s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

main {
    padding: 20px;
    background: linear-gradient(to right, #fff, #e0e0e0);
}

.positions {
    max-width: 1200px;
    margin: 0 auto;
}

.positions h2 {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.position {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideInUp 0.5s ease-in-out;
}

.position h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.position p {
    font-size: 18px;
    color: #333;
}

.position ul {
    list-style: disc;
    padding-left: 20px;
}

.apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #0056b3;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
