body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
}

.title h1 {
    margin: 0;
    font-size: 24px;
    color: #eceff2;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
}

.aspiration {
    text-align: center;
    margin-bottom: 20px;
    color: #10bde8;
}

.aspiration h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.aspiration p {
    font-size: 18px;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info ul li {
    margin-bottom: 10px;
}

.info ul li a {
    text-decoration: none;
    color: #948282;
}

.contact-info address {
    font-style: normal;
}
